{% extends "admin/layout/empty.twig" %}

{% block javascripts %}
    <script type="text/javascript">
        function removeItem(link) {
            if (confirm('Silme işlemine devam etmek istiyor musunuz?')) {
                return true;
            }

            return false;
        }

        function selectAll(object) {
            $('input[data-select-all=1]').prop('checked', object.checked);
        }
    </script>
{% endblock %}

{% block header %}
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <a class="navbar-brand" href="{{ site_url('/admin') }}">Yönetim Paneli</a>
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genel Ayarlar <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ site_url('/admin/users') }}">Kullanıcı Yönetimi</a></li>
                                <li><a href="{{ site_url('/admin/roles') }}">Rol Yönetimi</a></li>
                                <li><a href="{{ site_url('/admin/permissions') }}">İzin Yönetimi</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site_url('/admin/my-profile') }}">Ayarlarım</a></li>
                        <li><a href="{{ site_url('/admin/logout') }}">Oturumu Kapat</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}