{% extends "admin/layout/default.twig" %}

{% block title %}İzin Grubu {% if form.id == 0 %}Ekle{% else %}Güncelle{% endif %}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset_url('/js/select2/select2.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset_url('/js/select2/select2.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#permissions").select2();
        });
    </script>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="page-header">
                    <h1>İzin Grubu {% if form.id == 0 %}Ekle{% else %}Güncelle{% endif %}</h1>
                </header>

                {% include "admin/embed/message.twig" %}

                <form method="POST" action="">
                    <input type="hidden" name="id" value="{{ form.id }}" />
                    <div class="form-group {% if form.messages.name %}has-error{% endif %}">
                        <label class="form-label">İzin Adı</label>
                        <input type="text" name="name" class="form-control" placeholder="" autocomplete="off" value="{{ form.name }}" />
                        <span class="help-block">Örn: Admin Rol İzinleri</span>
                        {% include "admin/embed/help_block.twig" with {'messages': form.messages.name} %}
                    </div>
                    <div class="form-group {% if form.messages.permissions %}has-error{% endif %}">
                        <label class="form-label">Gruba Bağlı İzinler</label>
                        <div>
                            <select style="width: 100%;" multiple="multiple" name="permissions[]" id="permissions">
                                {% for permission in form.allPermissions %}
                                    <option value="{{ permission.getId() }}" {% if permission.getId() in form.permissions %}selected="selected"{% endif %}>{{ permission.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% include "admin/embed/help_block.twig" with {'messages': form.messages.permissions} %}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}